<main>
   <div class="container">
      <h1>Welcome <%= locals?.uname %></h1>
      <a href="dashboard/logout">Logout</a>
      <p><%= locals?.feedback %></p>
      <form action="/dashboard/todo" method="post">
         <input type="text" name="task" />
         <button type="submit">Add Task</button>
      </form>

      <ul class="todo-list">
         <% locals?.todoList && todoList.forEach(todo => { %>
         <li>
            <%= todo.task %> -
            <a href="/dashboard/todo/<%= todo.id %>">Remove</a>
         </li>
         <% }) %>
      </ul>
   </div>
</main>
