<main>
   <div class="container">
      <h1>Welcome <%= locals?.user?.uname %></h1>
      <a href="dashboard/logout">Logout</a>
      <form action="/todo" method="post">
         <input type="text" />
         <button type="submit">Add Task</button>
      </form>

      <ul class="todo-list">
         <% locals?.todoList && todoList.forEach(todo => { %>
         <li>
            <%= todo %> -
            <form action="/todo" method="get">
               <button type="submit">Remove</button>
            </form>
         </li>
         <% }) %>
      </ul>
   </div>
</main>
