<main>
   <form action="/login" method="POST">
      <div class="form-item">
         <label for="uname">Username </label>
         <input type="text" name="" id="uname" />
      </div>
      <div class="form-item">
         <label for="passwd">Password </label>
         <input type="text" name="" id="passwd" />
      </div>
      <button type="submit">Log in</button>
   </form>
</main>
