<main>
   <div class="form-wrapper">
      <form action="/register" method="POST">
         <h1>Login</h1>

         <p><%= locals?.message %></p>
         <div class="form-item">
            <label for="uname">Username </label>
            <input
               type="text"
               name="uname"
               id="uname"
               placeholder="Username"
               value="<%= locals?.uname %>"
            />
         </div>
         <div class="form-item">
            <label for="email">Username </label>
            <input
               type="text"
               name="email"
               id="email"
               placeholder="Enter email"
               value="<%= locals?.email %>"
            />
         </div>
         <div class="form-item">
            <label for="passwd">Password </label>
            <input
               type="text"
               name="passwd"
               id="passwd"
               placeholder="Password"
               value="<%= locals?.passwd  %>"
            />
         </div>
         <button type="submit" class="btn">Register</button>
      </form>
   </div>
</main>
