body {
   height: 100vh;
   display: flex;
   flex-direction: column;
   & > header,
   & > footer {
      background-color: aliceblue;
      padding: 1rem;
   }

   & > header > a {
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.02rem;
      font-weight: bold;
      font-size: 1.4rem;
      color: rgba(240, 7, 54, 0.753);
   }

   & > header > a:hover {
      color: rgb(235, 13, 57);
   }

   & > footer {
      text-align: center;
   }
   & > .app {
      /* Grow the app so footer remains at the end always */
      flex-grow: 1;
      padding: 1rem;
   }
}
