*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  display: flex;
  flex-direction: column; }
  body > header,
  body > footer {
    background-color: aliceblue;
    padding: 1rem; }
  body > header > a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    font-weight: bold;
    font-size: 1.4rem;
    color: rgba(240, 7, 54, 0.753); }
  body > header > a:hover {
    color: #eb0d39; }
  body > footer {
    text-align: center; }
  body > .app {
    /* Grow the app so footer remains at the end always */
    flex-grow: 1;
    padding: 1rem; }
