*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  display: flex;
  flex-direction: column; }
  body > header,
  body > footer {
    background-color: aliceblue;
    padding: 1rem; }
  body > header > a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    font-weight: bold;
    font-size: 1.4rem;
    color: rgba(240, 7, 54, 0.753); }
  body > header > a:hover {
    color: #eb0d39; }
  body > footer {
    text-align: center; }
  body > .app {
    /* Grow the app so footer remains at the end always */
    flex-grow: 1;
    padding: 1rem; }

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }
  .form-wrapper form {
    font-size: 2rem;
    text-align: center; }
    .form-wrapper form > h1 {
      padding: 1rem 0;
      text-align: center;
      margin-bottom: 5px; }
    .form-wrapper form > p {
      padding: 5px 0; }
    .form-wrapper form .form-item {
      width: 100%;
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 2fr;
      margin-bottom: 5px; }
      .form-wrapper form .form-item input {
        padding: 0 1rem; }

.btn {
  padding: 9px 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: darkgray; }

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .container h1 {
    font-size: 3rem;
    padding: 1rem; }
  .container a {
    margin: 1rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold; }
